@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEBE0;

  /* Warm Alabaster */
  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent, #000000);
    background-color: #F9F7F2;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;

    &:hover {
      width: 60px;
    }
  }

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-gradient {
  background: #FAF9F6;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-grad {
  background-image: linear-gradient(to right, #8D6E63 0%, #5D4037 100%);
  /* Warm Brown Gradient */
  background-position: left center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

}


.post-widget-img {
  border-radius: 100%;
  overflow: hidden;
  height: 60px;
  width: 60px;

  img {
    min-width: 60px;
    min-height: 60px;
  }
}

// making list item to numbered-list
ol {
  list-style-type: decimal;
  margin-bottom: 4px;

  li {
    margin-bottom: 2px;
  }
}

//

@media (max-width: 640px) {
  .post-detail-card {
    padding-left: 0.50rem
      /* 0.25-> 4px */
    ;
    padding-right: 0.50rem
      /* 0.25 -> 4px */
    ;
  }

}

// 
@media (max-width: 767px) {
  .fpost {
    margin-top: 40px;
  }
}


.nav {
  background-color: #2D2A26;
  /* Dark Charcoal */
  top: 15%;
  padding-bottom: 10px;

}

@media (max-height: 768px) {
  .nav {
    margin-top: 20px;
  }


}